$bg: #151521;
$color: white;
$login-div-bg: url('../../public/login-png-ngp-90565389.svg') no-repeat;
$input-bg: rgb(37, 39, 60);
$input-color: rgb(237, 239, 250);
$input-placeholder: rgba(237, 239, 250, .5);
$input-border-color: rgb(39, 39, 60);
$selection-color: rgb(39, 39, 60);
$scrolbar-bg: rgb(63,63,84);
$btn-success: rgb(41, 94, 41);
$btn-primary: rgb(10, 10, 90);
$btn-primary-hover: rgb(10,10,70);


$sidebar-color: #1E1E2D;
$sidebar2-bg: #222233;
$sidebar-item-color: white;
$sidebar2-title-color: #4A4F74;
$sidebar2-a-color: #6D6D80;
$sidebar2-a-hover-color: #7239EA;
$active-s2-item: #1B1B29;
$active-s-item: #1C2847;
$auto-bg: #1E1E2D;
$progres-bg: rgb(38, 40, 71);
$pb-bg: rgb(69, 71, 101);


// Buttons
$primary-btn: rgb(69,71,101);
$success-btn: rgb(21, 82, 73);
$success-btn-hover: rgb(19, 41, 37);

// Chat
$from-me: #2F264F;
$from-pr: #212E48;
$user-image-bg: rgb(49, 47, 67);
$chat-dr-menu: #1a1434;

// Alerts
$success-alert-bg: rgb(79, 137, 79);
$info-alert-bg: rgb(79, 125, 137);
$warn-alert-bg: rgb(210, 213, 81);
$danger-alert-bg: #d71616;
$site-alert-bg: rgb(37, 39, 60)